h1 {
      color:rgb(8, 123, 8);
}
.add-todo-button {
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color:rgb(6, 127, 60);
  border-color:rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family:cursive;
  font-weight: bold;
  /* font-variant: small-caps; */
}
.delete-todo-button {
   border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color:rgb(224, 0, 0);
  border-color:rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family:cursive;
  font-weight: bold;
  margin-bottom: 5px;
}
body {
  font-family:cursive;
  /* background: linear-gradient(360deg, 
#00b7ff, #ff30ff); */
  background-color: #8deaff;
}
.todo-grid,
.js-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  align-items: center;
}
.js-input-grid {
  margin-bottom: 8px;
  align-items: stretch;
}
.js-name-input {
  border-radius: 5px;
  background-color: rgb(164, 252, 153);
  font-family: cursive;
  padding: 6px;
}
.due-date-input {
  padding: 6px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}